[submodule "wackcoon-camera"]
	path = wackcoon-camera
	url = https://github.com/DanielEgan/wackcoon-camera.git
[submodule "wackcoon-device"]
	path = wackcoon-device
	url = https://github.com/DanielEgan/wackcoon-device.git
[submodule "wackcoon-hook"]
	path = wackcoon-hook
	url = https://github.com/DanielEgan/wackcoon-hook.git
[submodule "wackcoon-uploader"]
	path = wackcoon-uploader
	url = https://github.com/DanielEgan/wackcoon-uploader.git
[submodule "wackcoon-hublistener"]
	path = wackcoon-hublistener
	url = http://github.com/danielegan/wackcoon-hublistener
[submodule "wackcoon-web"]
	path = wackcoon-web
	url = https://github.com/DanielEgan/wackcoon-web.git
